APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"



SAFARICOM_KEY=null
SAFARICOM_SECRET=null
SAFARICOM_PASS=null
SAFARICOM_PAYBILL=null
SAFARICOM_CALLBACK_URL=null
SAFARICOM_CONFIRMATION_URL=null
SAFARICOM_VALIDATION_URL=null

INITIATOR_NAME=null
SECURITY_CREDENTIAL=null
PARTY_A=null
QueueTimeOutURL=null
ResultURL=null


#B2B
Initiator=null
B2BPartyA=null
B2BpartyB=null
B2BTimeOutUrl=null
B2BResultUrl=null

#sdkpush
CallBackURL=null
PassKey=null
shortcode=null
